//------------------------------------------------------------------------------
//  Цвет
//------------------------------------------------------------------------------


$color__primary:              #0275d8    !default;
$color__success:              #5cb85c    !default;
$color__info:                 #5bc0de    !default;
$color__warning:              #f0ad4e    !default;
$color__danger:               #d9534f    !default;

$color__gray:                 #808080    !default;
$color__gray-darker:          #222    !default;
$color__gray-dark:            #444    !default;
$color__gray-light:           #999    !default;
$color__gray-lighter:         #ddd    !default;

$body-bg:                     #fff    !default;
$text-color:                  $color__gray-darker    !default;

$link-color:                  $color__primary    !default;
$link-color--hover:           darken($link-color, 20%)    !default;





//------------------------------------------------------------------------------
//  Типографика
//------------------------------------------------------------------------------

$font-family:                 "Helvetica Neue", Helvetica, Arial, sans-serif    !default;
$font-family--serif:          Georgia, "Times New Roman", Times, serif    !default;
$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace    !default;

$font-size--html:             10px    !default;

$font-size:                   14px    !default;
$font-size--large:            18px    !default;
$font-size--small:            12px    !default;

$font-size--h1:               30px    !default;
$font-size--h2:               24px    !default;
$font-size--h3:               20px    !default;
$font-size--h4:               $font-size--large    !default;
$font-size--h5:               $font-size    !default;

$line-height:                 1.4em    !default;
// $line-height--computed:       floor(($font-size * $line-height))    !default; // TODO проверить необходимость

$type-spacer:                 $line-height / 2    !default; // Нижний отступ параграфа, списков, заголовков...

$font-size--h6:               $font-size--small    !default;

$headings__font-family:       $font-family    !default;
$headings__margin-bottom:     $line-height    !default;
$headings__font-weight:       400    !default;
$headings__line-height:       1.2em    !default;
$headings__color:             inherit    !default;





//------------------------------------------------------------------------------
//  Разное
//------------------------------------------------------------------------------

// Абстрактный размер разделителя. Например для padding-ов некоторых блоков
$spacer:                      10px    !default;

// Абстракное сглаживание углов
$border-radius:               3px    !default;





// -----------------------------------------------------------------------------
//  Модульные сетки
//------------------------------------------------------------------------------

$grid-columns:                12    !default;
$grid-gutter-width:           30px    !default;





// -----------------------------------------------------------------------------
//  Адаптивность (воу-воу, не обязательно использовать все брейкпоинты)
//------------------------------------------------------------------------------

$screen: (
  xs:    0,
  sm:    480px,
  md:    768px,
  lg:    992px,
  xl:    1200px,
  xxl:   1920px,
) !default;





// -----------------------------------------------------------------------------
//  КОМПОНЕНТ: Бейджи (тест)
//------------------------------------------------------------------------------

$badge__color:                #fff    !default;
$badge__bg:                   $color__gray    !default;
$badge__font-weight:          bold    !default;
$badge__border-radius:        0    !default;
