@import '../variables.less'; // Можно удалять, это только для удобства написания кода.



//------------------------------------------------------------------------------
//  Общие стили форм, общие БЭМ-блоки форм
//------------------------------------------------------------------------------


label {
  display: inline-block;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

textarea {
  resize: vertical;
}

// fieldset {
//   min-width: 0;
//   margin: 0;
//   padding: @spacer;
//   border: 1px solid @color__gray-light;
// }

// legend {
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin-bottom: @headings__margin-bottom;
//   font-size: @font-size--h3;
//   line-height: @headings__line-height;
// }

input[type="search"] {
  -webkit-appearance: none;
}
